

<form fxLayout="column" fxLayoutAlign="center center">
    <h1>login Page!</h1>
        <mat-form-field>
            <input type="email" 
            matInput 
            required 
            ngModel 
            name="emali" 
            placeholder="Email">
        </mat-form-field>
        <mat-form-field>
            <input type="password" 
            matInput 
            required 
            ngmodel 
            name="password" 
            placeholder="Password" >
        </mat-form-field>
</form>
