<mat-toolbar color="primary" >
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
<div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
<div fxHide.gt-xs >
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon >menu</mat-icon>
      </button>
    </div>
    <div style="padding-left: 20px;;"><a routerLink="/"><mat-icon ><img src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-exercise-working-from-home-justicon-lineal-color-justicon.png"/></mat-icon></a></div>
  </div>
<div fxFlex></div>
  <div fxFlex  fxHide.xs fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
    <a routerLink="/">Home</a>
    <a routerLink="/signup">Signup</a>
    <a routerLink="/login">login</a>
    <a routerLink="/training">Training</a>
    <a >Logout</a>

   </div>
  </div>


</mat-toolbar>
