<form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" #form_data="ngForm" (ngSubmit)="onsubmit(form_data)" >

        <mat-form-field>
            <input 
                type="email" 
                matInput 
                placeholder="Your email" 
                ngModel 
                name="Username"
                email
                required
                #emailInput='ngModel'/>
                <mat-error *ngIf="emailInput.hasError('required')">please enter email</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">Email is not valid</mat-error>

        </mat-form-field>

        <mat-form-field hintLabel="At Least 6 Charecters Long.">
            <input 
                type="password" 
                matInput 
                placeholder="Your password" 
                ngModel  
                name="Password"
                password
                required
                #pwLength="ngModel"
                 />
                 <mat-hint align="end">{{pwLength.value?.length}} /6</mat-hint>
                 <mat-error *ngIf="pwLength.hasError('required')">please Enter password</mat-error>

        </mat-form-field>
        <mat-form-field>
            <input [max]="maxdate" matInput [matDatepicker]="picker" ngModel name="birthdate" required placeholder="Your Birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox ngModel name="agree" required color="primary">agree to terms and condition</mat-checkbox>
        <button type="submit" mat-raised-button color="primary" [disabled]="form_data.invalid">Submit</button>
       
</form>
