<mat-sidenav-container>
  <mat-sidenav class="side_nav"  #sidenav role="navigation">
    <mat-list >
      <h1>Menu</h1>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/signup">Signup</a>
      <a mat-list-item routerLink="/login">login</a>
      <a mat-list-item routerLink="/training">Training</a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" >
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
<div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <div fxHide.gt-xs >
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon >menu</mat-icon>
          </button>
        </div>
        <div style="padding-left: 20px;;"><a routerLink="/"><mat-icon ><img src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-exercise-working-from-home-justicon-lineal-color-justicon.png"/></mat-icon></a></div>
      </div>
<div fxFlex></div>
      <div fxFlex  fxHide.xs fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="60px">
        <a routerLink="/">Home</a>
        <a routerLink="/signup">Signup</a>
        <a routerLink="/login">login</a>
        <a routerLink="/training">Training</a>
       </div>
      </div>


    </mat-toolbar>
     <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

 
  